
<!DOCTYPE html>
<html lang="en" manifest="manifest.appcache"> 
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>National Institute of Tiruchirappalli</title>
    
    <!-- Styles -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,700,800" rel="stylesheet" type="text/css"><!-- Google web fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"><!-- font-awesome -->
    <link href="css/dropdown-menu.css" rel="stylesheet" type="text/css"><!-- dropdown-menu -->
    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css"><!-- Bootstrap -->
    <link href="css/jquery.fancybox.css" rel="stylesheet" type="text/css"><!-- Fancybox -->
    <link href="css/style.css" rel="stylesheet" type="text/css"><!-- theme styles -->
    <link rel="icon" type="image/png" href="image/logo.png">

  </head>
  
  <body role="document">
    <header class="myheader" >
        <img src="image/header.png" style="position:relative;top:25px;" />
    </header>
  
    <!-- device test, don't remove. javascript needed! -->
    <span class="visible-xs"></span><span class="visible-sm"></span><span class="visible-md"></span><span class="visible-lg"></span>
    <!-- device test end -->
    
    <div id="k-head" class="container-fluid"><!-- container + head wrapper -->
    
    	<div class="row"><!-- row -->
        
            <nav class="k-functional-navig"><!-- functional navig -->
        
                <ul class="list-inline pull-right">
                    <li><a href="#">Departments</a></li>
                    <li><a href="#">Placements</a></li>
                    <li><a href="#">Dashboard</a></li>
                    <li><a href="#">Webmail</a></li>
                    <li><a href="#">Sitemap</a></li>
                </ul>
        
            </nav><!-- functional navig end -->
        
        	<div class="col-lg-12">
        
        		<div id="k-site-logo" class="pull-left"><!-- site logo -->
    <!--            
                    <h1 class="k-logo">
                        <a href="index.html" title="Home Page">
                            <img src="image/logo.png" style="width:130px;height:130px;visibility:hidden;">    
                        </a>
                    </h1>
        -->            
                    <a id="mobile-nav-switch" href="#drop-down-left"><span class="alter-menu-icon"><i class="fa fa-bars"></i></span></a><!-- alternative menu button -->
            
            	</div><!-- site logo end -->

            	<nav id="k-menu" class="k-main-navig"><!-- main navig -->
        
                    <ul id="drop-down-left" class="k-dropdown-menu">
                        <li>
                            <a href="#" title="">Homepage</a>
                        </li>
                        <li>
                            <a href="#" title="">News</a>
                        </li>
                        <li>
                            <a href="#" title="">Events</a>
                        </li>
                        <li>
                           <a href="#" title="">Contact</a>
                        </li>
                        <li>
                            <a href="#"  title="">Departments</a>
                            <ul class="sub-menu">
                                <li><a href="#">Computer Science & Engineering</a></li>
                                <li><a href="#">Electrical & Electronics Engineering</a></li>
                                <li><a href="#">Electronics & Communication Engineering</a></li>
                                <li><a href="#">Instrumentation & Control Engineering</a></li>
                                <li><a href="#">Mechanical Engineering</a></li>
                                <li><a href="#">Civil Engineering</a></li>
                                <li><a href="#">Chemical Engineering</a></li>
                                <li><a href="#">Production Engineering</a></li>
                                <li><a href="#">Metalurgical & Material's Engineering</a></li>
                                <li>
                                    <a href="#">Others</a>
                                    <ul class="sub-menu">
                                        <li><a href="#">Mathematics</a></li>
                                        <li>
                                            <a href="#">Chemistry</a>
                                            
                                        </li>
                                        <li><a href="#">Physics</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#" title="">About Us</a>
                            <!--<ul class="sub-menu">
                                <li><a href="#">Full Width Page</a></li>
                                <li><a href="#">Sidebar on Left</a></li>
                                <li><a href="#">Formatting</a></li>
                                <li><a href="#">School Leadership</a></li>
                                <li><a href="#">Gallery</a></li>
                                <li><a href="#">404 Error</a></li>
                            </ul>-->
                        </li>
                        <li>
                            <a href="#" title="">Contact Us</a>
                        </li>
                    </ul>
        
            	</nav><!-- main navig end -->
            
            </div>
            
        </div><!-- row end -->
    
    </div><!-- container + head wrapper end -->
    
    <div id="k-body"><!-- content wrapper -->
    
    	<div class="container"><!-- container -->
        
        	<div class="row"><!-- row -->
            
                <div id="k-top-search" class="col-lg-12 clearfix"><!-- top search -->
                
                    <form action="#" id="top-searchform" method="get" role="search">
                        <div class="input-group">
                            <input type="text" name="s" id="sitesearch" class="form-control" autocomplete="off" placeholder="Type in keyword(s) then hit Enter on keyboard" />
                        </div>
                    </form>
                    
                    <div id="bt-toggle-search" class="search-icon text-center"><i class="s-open fa fa-search"></i><i class="s-close fa fa-times"></i></div><!-- toggle search button -->
                
                </div><!-- top search end -->
            
            	<div class="k-breadcrumbs col-lg-12 clearfix"><!-- breadcrumbs -->
                
                	<ol class="breadcrumb">
                    	<li><a href="#">Home</a></li>
                        
                    </ol>
                    
                </div><!-- breadcrumbs end -->
                
            </div><!-- row end -->
            
            <div class="row no-gutter fullwidth"><!-- row -->
            
                <div class="col-lg-12 clearfix"><!-- featured posts slider -->
                
                    <div id="carousel-featured" class="carousel slide" data-interval="4000" data-ride="carousel"><!-- featured posts slider wrapper; auto-slide -->
                    
                        <ol class="carousel-indicators"><!-- Indicators -->
                            <li data-target="#carousel-featured" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-featured" data-slide-to="1"></li>
                            <li data-target="#carousel-featured" data-slide-to="2"></li>
                            <li data-target="#carousel-featured" data-slide-to="3"></li>
                            <li data-target="#carousel-featured" data-slide-to="4"></li>
                        </ol><!-- Indicators end -->
                    
                        <div class="carousel-inner" ><!-- Wrapper for slides -->
                        
                            <div class="item active" >
                                <img src="image/slide-1.jpg" style="width:1900px;height:500px;" />                                    
                                
                                
                            </div>
                            
                            <div class="item">
                                    <img src="image/slide-2.jpg" style="width:1900px;height:500px;" />                                    
                                
                            </div>
                            
                            <div class="item">
                                    <img src="image/slide-3.jpg" style="width:1900px;height:500px;" />                                    
                                
                            </div>
                            <div class="item">
                                    <img src="image/slide-4.jpg" style="width:1900px;height:500px;" />                                    
                                
                            </div>
                            <div class="item">
                                    <img src="image/slide-5.jpg" style="width:1900px;height:500px;" />                                    
                                
                            </div>
                            
                            
                            
                        </div><!-- Wrapper for slides end -->
                    
                        <!-- Controls -->
                        <a class="left carousel-control" href="#carousel-featured" data-slide="prev"><i class="fa fa-chevron-left"></i></a>
                        <a class="right carousel-control" href="#carousel-featured" data-slide="next"><i class="fa fa-chevron-right"></i></a>
                        <!-- Controls end -->
                        
                    </div><!-- featured posts slider wrapper end -->
                        
                </div><!-- featured posts slider end -->
                
            </div><!-- row end -->
            
            <div class="row no-gutter"><!-- row -->
                
                <div class="col-lg-4 col-md-4"><!-- upcoming events wrapper -->
                	
                    <div class="col-padded col-shaded"><!-- inner custom column -->
                    
                    	<ul class="list-unstyled clear-margins"><!-- widgets -->
                        
                        	<li class="widget-container widget_up_events"><!-- widgets list -->
                    
                                <h1 class="title-widget">Upcoming Events</h1>
                                
                                <ul class="list-unstyled">
                                
                                    <li class="up-event-wrap">
                                
                                        <h1 class="title-median"><a href="#" title="">Workshops</a></h1>
                                        
                                        <div class="up-event-meta clearfix">
                                            <div class="up-event-date">Oct 30, 2015</div><div class="up-event-time">9:00 - 11:00</div>
                                        </div>
                                        
                                        <p>
                                        Workshop on Tools and Techniques for Information Processing Research <a href="#" class="moretag" title="read more">MORE</a> 
                                        </p>
                                    
                                    </li>
                                    
                                    <li class="up-event-wrap">
                                
                                        <h1 class="title-median"><a href="#" title="">Horizons</a></h1>
                                        
                                        <div class="up-event-meta clearfix">
                                            <div class="up-event-date">Nov 12, 2015</div><div class="up-event-time">8:30 - 10:30</div>
                                        </div>
                                        
                                        <p>
                                       Horizon 2015 - A National Level Student's Symposium on Innovative Catalysis... <a href="#" class="moretag" title="read more">MORE</a> 
                                        </p>
                                    
                                    </li>
                                    
                                    <li class="up-event-wrap">
                                
                                        <h1 class="title-median"><a href="#" title="">International Conference on Disaster Management</a></h1>
                                        
                                        <div class="up-event-meta clearfix">
                                            <div class="up-event-date">Nov 21, 2015</div><div class="up-event-date">Nov 21, 2015</div>
                                        </div>
                                        
                                        <p>
                                       International Conference on Disaster Mitigation and Management for Sustainable Development & Risk Reduction,... <a href="#" class="moretag" title="read more">MORE</a> 
                                        </p>
                                    
                                    </li>
                                
                                </ul>
                            
                            </li><!-- widgets list end -->
                        
                        </ul><!-- widgets end -->
                    
                    </div><!-- inner custom column end -->
                    
                </div><!-- upcoming events wrapper end -->
                
                <div class="col-lg-4 col-md-4"><!-- recent news wrapper -->
                	
                    <div class="col-padded"><!-- inner custom column -->
                    
                        <ul class="list-unstyled clear-margins"><!-- widgets -->
                        
                        	<li class="widget-container widget_recent_news"><!-- widgets list -->
                    
                                <h1 class="title-widget">College News</h1>
                                
                                <ul class="list-unstyled">
                                
									<li class="recent-news-wrap">
                                
                                        <h1 class="title-median"><a href="#" title="">Special Recruitment Drive for Persons With Disabilities</a></h1>
                                        
                                        <div class="recent-news-meta">
                                            <div class="recent-news-date">Oct 31, 2015</div>
                                        </div>
                                        
                                        <div class="recent-news-content clearfix">
                                            <figure class="recent-news-thumb">
                                                <a href="#" title=""></a>
                                            </figure>
                                            <div class="recent-news-text">
                                                <p>
                                                 Amendment: upper age limit is relaxed up to 10 years for recruitment to all posts <a href="#" class="moretag" title="read more">MORE</a> 
                                                </p>
                                            </div>
                                        </div>
                                    
                                    </li>
                                    
									<li class="recent-news-wrap">
                                
                                        <h1 class="title-median"><a href="#" title="">Circulars</a></h1>
                                        
                                        <div class="recent-news-meta">
                                            <div class="recent-news-date">Oct 26, 2015</div>
                                        </div>
                                        
                                        <div class="recent-news-content clearfix">
                                            <figure class="recent-news-thumb">
                                                <a href="#" title=""></a>
                                            </figure>
                                            <div class="recent-news-text">
                                                <p>
                                                Dean Academic Circulars on Cycle Test, Semester Examination, Academic Schedule, etc.. <a href="#" class="moretag" title="read more">MORE</a> 
                                                </p>
                                            </div>
                                        </div>
                                    
                                    </li>
                                    
									<li class="recent-news-wrap">
                                
                                        <h1 class="title-median"><a href="#" title=""> Ph.D.(PT) Selection List</a></h1>
                                        
                                        <div class="recent-news-meta">
                                            <div class="recent-news-date"> Oct 23, 2015</div>
                                        </div>
                                        
                                        <div class="recent-news-content clearfix">
                                            <div class="recent-news-text">
                                                <p>
                                                Ph.D.(PT) Selection List, Ph.D.(Project Category), M.S. (PT) Selection List.<a href="#" class="moretag" title="read more">MORE</a> 
                                                </p>
                                            </div>
                                        </div>
                                    
                                    </li>
                                
                                </ul>
                                
                            </li><!-- widgets list end -->
                        
                        </ul><!-- widgets end -->
                    
                    </div><!-- inner custom column end -->
                    
                </div><!-- recent news wrapper end -->
                
                <div class="col-lg-4 col-md-4"><!-- misc wrapper -->
                	
                    <div class="col-padded col-shaded"><!-- inner custom column -->
                    
                        <ul class="list-unstyled clear-margins"><!-- widgets -->
                        
                        	<li class="widget-container widget_course_search"><!-- widget -->
                            
                            	<h1 class="title-titan">Search</h1>
                                
                                <form role="search" method="get" id="course-finder" action="#">
                                    <div class="input-group">
                                        <input type="text" placeholder="Enter keyword for search" autocomplete="off" class="form-control" id="find-course" name="find-course" />
                                        <span class="input-group-btn"><button type="submit" class="btn btn-default">GO!</button></span>
                                    </div>
                                    <span class="help-block">* Enter Department, professor's name or document ID to get related material</span>
                                </form>
                             
                            </li><!-- widget end -->
                            
                            <li class="widget-container widget_text"><!-- widget -->
                                
                <section class="testimonial" style="min-height:420px">
                        <h1 class="title-widget">Downloads</h1>
                        <div class="carousel-controls">
                            <a class="prev" href="#testimonial-carousel" data-slide="prev"><i class="fa fa-caret-left"></i></a>
                            <a class="next" href="#testimonial-carousel" data-slide="next"><i class="fa fa-caret-right"></i></a>
                        </div><!--//carousel-controls-->
                        <div class="section-content downloads">
                            <div id="testimonial-carousel" class="testimonial-carousel carousel slide">
                                <div class="carousel-inner">
                                    <div class="item active">
                                        <blockquote class="quote">                                  

<li><a  href="#">Ph.D.(FT) Selection List </a>, <a href="#">MS (FT) Selection List</a><br><br></li>
<li><a href="#">Wanted Research Assistant in the Department of Energy and Environment, August 26, 2015</a></li><br>
<li><a href="#">Revised Institute Development Proposal (IDP) of TEQIP-II</a></li>




                                        </blockquote>                
                                        <div class="row">
     
                                        </div>                               
                                    </div><!--//item-->

                                    <div class="item">
                                        <blockquote class="quote">
                                            <li><a href="#">Scholarship Circular (new)</a></li><br>
<li><a href="#">RECAL Common Scholarship Application Form</a></li><br>
<li><a href="#">Revised Institute Development Proposal (IDP) of TEQIP-II</a></li>
<li><a href="#">First Year Orientation Programme Schedule</a></li><br>
                                        </blockquote>
                                        <div class="row">
     
                                        </div>                 
                                    </div><!--//item-->
                                    <div class="item">
                                        <blockquote class="quote">
                                            <li><a href="#">Last date for M.Tech. Admission 2015 and M.Tech Admission Cancellation at NITT</a></li><br><br>
<li><a href="#">First Year Orientation Programme Schedule</a></li><br>
<li><a href="#">Revised Institute Development Proposal (IDP) of TEQIP-II</a></li>
                                        </blockquote>
                                        <div class="row">
     
                                        </div>                 
                                    </div><!--//item-->
                                    
                                </div><!--//carousel-inner-->
                            </div><!--//testimonials-carousel-->
                        </div><!--//section-content-->
                    </section><!--//testimonials-->
                
                            
                            </li><!-- widget end -->
                            
                              
                        </ul><!-- widgets end -->
                    
                    </div><!-- inner custom column end -->
                    
                </div><!-- misc wrapper end -->
            
            </div><!-- row end -->
        
        </div><!-- container end -->
    
    </div><!-- content wrapper end -->
    
    <div id="k-footer"><!-- footer -->
    
    	<div class="container"><!-- container -->
        
        	<div class="row no-gutter"><!-- row -->
            
            	<div class="col-lg-6 col-md-6"><!-- widgets column left -->
            
                    <div class="col-padded col-naked">
                    
                        <ul class="list-unstyled clear-margins"><!-- widgets -->
                        
                        	<li class="widget-container widget_nav_menu"><!-- widgets list -->
                    
                                <h1 class="title-widget">Useful links</h1>
                                
                                <ul>
                                	<li><a href="#" title="menu item">Placement Exam Schedule</a></li>
                                    <li><a href="#" title="menu item">Superintendent's Hearing Audio</a></li>
                                    <li><a href="#" title="menu item">Budget Central</a></li>
                                    <li><a href="#" title="menu item">Job Opportunities - Application</a></li>
                                    <li><a href="#" title="menu item">College Acceptances as of Oct 12</a></li>
                                </ul>
                    
							</li>
                            
                        </ul>
                         
                    </div>
                    
                </div><!-- widgets column left end -->
                
                <div class="col-lg-6 col-md-6"><!-- widgets column center -->
                
                    <div class="col-padded col-naked">
                    
                        <ul class="list-unstyled clear-margins"><!-- widgets -->
                        
                        	<li class="widget-container widget_recent_news"><!-- widgets list -->
                    
                                <h1 class="title-widget">Contact</h1>
                                
                                <div itemscope itemtype="http://data-vocabulary.org/Organization"> 
                                
                                	<h2 class="title-median m-contact-subject" itemprop="name">National Institute of Technology</h2>
                                
                                	<div class="m-contact-address" itemprop="address" itemscope itemtype="http://data-vocabulary.org/Address">
                                		<span class="m-contact-street" itemprop="street-address">Thanjavur Main Road</span>
                                		<span class="m-contact-city-region"><span class="m-contact-city" itemprop="locality">Tiruchirapalli</span>, <span class="m-contact-region" itemprop="region">Tamil Nadu</span></span>
                                		<span class="m-contact-zip-country"><span class="m-contact-zip" itemprop="postal-code">620015</span> <span class="m-contact-country" itemprop="country-name">India</span></span>
                                	</div>
                                     
                                	<div class="m-contact-tel-fax">
                                    	<span class="m-contact-tel">Tel: <span itemprop="tel">631-551-3678</span></span>
                                    	<span class="m-contact-fax">Fax: <span itemprop="fax">631-551-3688</span></span>
                                    </div>
                                    
                                </div>
                                
                                <div class="social-icons">
                                
                                	<ul class="list-unstyled list-inline">
                                    
                                    	<li><a href="#" title="Contact us"><i class="fa fa-envelope"></i></a></li>
                                        <li><a href="#" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                                    
                                    </ul>
                                
                                </div>
                    
							</li>
                            
                        </ul>
                        
                    </div>
                    
                </div><!-- widgets column center end -->
                <script type="text/javascript">/*
                <div class="col-lg-4 col-md-4"><!-- widgets column right -->
                
                    <div class="col-padded col-naked">
                    
                        <ul class="list-unstyled clear-margins"><!-- widgets -->
                        
                        	<li class="widget-container widget_sofa_flickr"><!-- widgets list -->
                    
                                <h1 class="title-widget">Flickr Stream</h1>
                                
                                <ul class="k-flickr-photos list-unstyled">
                                	
                                </ul>
                    
							</li>
                            
                        </ul> 
                        
                    </div>
                
                </div><!-- widgets column right end -->
                </script>

            
            </div><!-- row end -->
        
        </div><!-- container end -->
    
    </div><!-- footer end -->
    <footer class="footer">
        <div class="footer-content">
            <div class="container-fluid">
                <div class="row duck">
                <div class="footer-col col-md-3 col-sm-4 about">
                    <div class="footer-col-inner">
                        <h3>Academics</h3>
                        <ul>
                            <li><a href="#"><i class="fa fa-caret-right"></i>Academics Programmes</a></li>
                            <li><a href="#"><i class="fa fa-caret-right"></i>Departments</a></li>
                            <li><a href="#"><i class="fa fa-caret-right"></i>Faculty</a></li>
                            <li><a href="#"><i class="fa fa-caret-right"></i>Rules & Regulations</a></li>
                            <li><a href="#"><i class="fa fa-caret-right"></i>Scholarships</a></li>
                        </ul>
                    </div><!--//footer-col-inner-->
                </div><!--//foooter-col-->
               
                 <div class="footer-col col-md-3 col-sm-4 about">
                    <div class="footer-col-inner">
                        <h3>Admissions</h3>
                        <ul>
                            <li><a href="#"><i class="fa fa-caret-right"></i>B.Tech/B.Arc</a></li>
                            <li><a href="#"><i class="fa fa-caret-right"></i>M.Tech/M.Sc</a></li>
                            <li><a href="#"><i class="fa fa-caret-right"></i>MCA/MBA</a></li>
                            <li><a href="#"><i class="fa fa-caret-right"></i>MS(research)</a></li>
                            <li><a href="#"><i class="fa fa-caret-right"></i>Ph.D</a></li>
                        </ul>
                    </div><!--//footer-col-inner-->
                </div><!--//foooter-col-->
               
                <div class="footer-col col-md-3 col-sm-4 about">
                    <div class="footer-col-inner ">
                        <h3>Students Life</h3>
                        <ul >
                            <li><a href="#"><i class="fa fa-caret-right"></i>Events</a></li>
                            <li><a href="#"><i class="fa fa-caret-right"></i>Clubs & Associations</a></li>
                            <li><a href="#"><i class="fa fa-caret-right"></i>Hostel & Messes</a></li>
                            <li><a href="#"><i class="fa fa-caret-right"></i>Office Of Dean(students)</a></li>
                            
                        </ul>
                    </div><!--//footer-col-inner-->
                </div><!--//foooter-col-->

                <div class="footer-col col-md-3 col-sm-4 about">
                    <div class="footer-col-inner">
                        <h3>Other Links</h3>
                        <ul>
                            <li><a href="#"><i class="fa fa-caret-right"></i>Tenders & Notices</a></li>
                            <li><a href="#"><i class="fa fa-caret-right"></i>Job Opportunities</a></li>
                            <li><a href="#"><i class="fa fa-caret-right"></i>RTI</a></li>
                            <li><a href="#"><i class="fa fa-caret-right"></i>Recal-Alumini</a></li>
                            <li><a href="#"><i class="fa fa-caret-right"></i>SiteMap</a></li>
                            
                        </ul>
                    </div><!--//footer-col-inner-->
                </div><!--//foooter-col-->

    <div id="k-subfooter"><!-- subfooter -->
    
    	<div class="container"><!-- container -->
        
        	<div class="row"><!-- row -->
            
            	<div class="col-lg-12">
                
                	<p class="copy-text text-inverse">
                 <small class="copyright col-md-6 col-sm-12 col-xs-12">Copyright @ 2015 National Institute of Technology | Website template by Delta Force</small>
                    </p>
                
                </div>
            
            </div><!-- row end -->
        
        </div><!-- container end -->
    
    </div><!-- subfooter end -->

    <!-- jQuery -->
    <script src="js/jquery-2.1.1.min.js"></script>
    <script src="js/jquery-migrate-1.2.1.min.js"></script>
    
    <!-- Bootstrap -->
    <script src="js/bootstrap.min.js"></script>
    
    <!-- Drop-down -->
    <script src="js/dropdown-menu.js"></script>
    
    <!-- Fancybox -->
	<script src="js/jquery.fancybox.pack.js"></script>
    <script src="js/jquery.fancybox-media.js"></script><!-- Fancybox media -->
    
    <!-- Responsive videos -->
    
    
    <!-- Audio player -->
	
    
    <!-- Pie charts -->
    <script src="js/jquery.easy-pie-chart.js"></script>
    
    <!-- Google Maps -->
    
    
    <!-- Theme -->
    <script src="js/theme.js"></script>
    
  </body>
</html>
