@font-face{
	font-family: "big";
	src:url('../fonts/BIG JOHN.otf');
}
@font-face{
	font-family: "lovato";
	src:url('../fonts/lovato.otf');
}
@font-face{
	font-family: "slim joe";
	src:url('../fonts/Slim Joe.otf');
}
@font-face{
	font-family: "kirvy";
	src:url('../fonts/Kirvy-Regular.otf');
}
@font-face{
	font-family: "noah";
	src:url('../fonts/orange.ttf');
}

*{
	
}
h1,h2,h3,h4{
	font-family: "big";
}

.border{
	height: 4px;
	background-color: rgba(0,0,0,0.3);
	width: 15%;
	text-align: center;
	margin:0 auto;
}
.border-small{
	height: 3px;
	background-color: rgba(255,255,255,0.3);
	width: 7%;
	text-align: center;
	margin:0 auto;	
}
a{
	font-family: "kirvy";
}
.space-small{
	height: 20px;
}
.space-medium{
	height: 40px;
}
.space-large{
	height: 80px;
}
.space-vsmall{
	height: 10px;
}
.no-border{
	border: none;
	border-radius: 0px;
	padding: 0px;
	margin:0px;
}
.bordered{
	border: 1px solid #f7f7f7;
}
.bg{
	background-color: black;
	color: white;
}
.bg-main{
	background-image: url('../images/home-bg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}
.event-junkyard-bg{
	background-image: url('../images/family.png');
	background-repeat: no-repeat;
	background-size: cover;
	
}
.event-family-bg{
	background-image: url('../images/family-mafia.png');
	background-repeat: no-repeat;
	background-size: cover;
	
}
.event-home-bg{
	background-image: url('../images/home.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}
.event-murphy-bg{
	background-image: url('../images/prison.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}
.schedule-bg{
	background-image: url('../images/schedule.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}
.workshop-bg{
	background-image: url('../images/workshop.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}
.about-bg{
	background-image: url('../images/about.png');
	background-repeat: no-repeat;
	background-size: cover;
}
.sitemap-bg{
	background-image: url('../images/sitemap.jpg');
	background-repeat: no-repeat;
	background-size: cover;

}
.left-details,.head{
	font-family: "noah";
	font-size: 21px;
}
.head{
	font-size: 32px;
}
.none,.noned{
	text-decoration: none;
	color: white;

}
.noned:hover{
	text-decoration: none;
	color: black;
	border: none;
}
.none:hover,.none:visited{
	text-decoration: none;
	color: white;
	border: none;
}

.thin-border{
	height: 1px;
	background-color: white;
	margin-bottom: 10px;
	
}
.text-container p a,.text-container ul li a{
	font-size: 20px;
	font-family: noah;
}
.box{
	background-color: rgba(0,0,0,0.7);

}
.bg-1{
	background-color: #101010;
}	
.events{
	padding: 10px 50px 10px 50px;
}
.section{
	margin: 0px;
	text-align:none;
	padding: 0px;
	vertical-align: 0px;
	min-height: 100vh;
	overflow: none;
}
.myNav{
	color: white;
	font-size: 1.2em;
}
.pad-section{
	padding: 15px 40px 15px 40px;

}
.shot,.shot-1,.shot-2,.shot-3{
	position: absolute;
	width: 20%;
	height:auto;
}
.shot-1{
	transform:translateX(150%)  translateY(100%);
	transform: rotateY(120);
}
.shot-2{
	transform:translateX(390%)  translateY(200%);
	transform: rotateY(120);	
}
.shot-3{
	transform:translateX(200%)  translateY(50%);
	transform: rotateY(120);	
}
.white{
	background-color: white;
	color: black;
}
.black{
	background-color: black;
	color: white;
}
.events_bg{
	background-image: url('../images/sil.png');
}
.extraPad{
	margin-left: 100px;
}

.god-bg{
	background-image: url('../images/coins.jpg');
	background-position: 50% 50%;
	
	background-size: cover;
	color: white;
}
.reg-bg{
	background-image: url('../images/reg_bg.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}
.section-big{
	min-height: auto;
}

.myButton{
	padding: 10px 20px 10px 20px;
	border-radius: 0px;
	font-size: 20px;
	font-family: kirvy;
	background-color: black;
	border:1px solid white;
}
.myButton:hover{
	background-color: white;
	border:1px solid black;
	color:black;
	-webkit-transition: all 0.6s;
      -moz-transition: all 0.6s;
      transition: all 0.6s;
}

.contact-img{
	width: 150px;
	margin: 0 auto;
}
.small{
	font-size:14px !important;
	font-family: "slim joe";
}
.navbar{
	
	width: 100%;
	z-index: 9999;
	background-color: black;
	
}

.schedule-0{
	font-size: 16px;
	font-family: "lovato";
}
.schedule-1{
	padding-left: 9%;
	font-size: 15px;
	font-family: "kirvy";
}
.schedule-small{
	font-size: 14px;
}
.schedule-large{
	font-size:24px;
}

.navButton{
	border-radius: 0px;
	background-color: black;
	color: white;
	padding: 0px 10px 0px 10px;
}
.navButton:hover,.navButton:focus{
	background-color: white;
	color:black;
	font-weight: 700;
	-webkit-transition: all 0.6s;
      -moz-transition: all 0.6s;
      transition: all 0.6s;
}
.guests{
	padding:0px 25px 0px 25px;
	
}
.myPort{
	margin:0 auto;
}
.left{
	float: left;
}
.text-container{
	font-size: 14px;
	line-height: 1.2em;
	padding:0 20px 0 20px;
	z-index: 20;
}
.mini-section{
	min-height:60vh;
}
.rounded{
	border-radius: 9999px;
	width: 40px;
	height: 40px;
	
	
	margin: -25px 10px -20px 20px;
}
.pragyan,#myCanvas{
	position: relative;
}
#myCanvas{
	position: absolute;
	z-index: -10;
}
.pragyan{
	z-index: 0;
	
}


footer{
	background-color: rgba(0,0,0,0.9);
	font-family: "lovato";
	color: white;
	font-weight: 700;
	font-size: 20px;
	padding-bottom: 0px;
}
footer a{
	font-family: lovato;
}
.made{
	font-size: 16px;
	padding: 5px 0 5px 0;

	background-color: rgba(0,0,0,0.98);
}
.img-footer{
	margin: 0px 5px 0px 5px;
	font-size: 18px;
}

/*preloader*/

#preloader {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
  overflow: visible;
  background: #202020 url("../images/preloader.gif") no-repeat center center; }

/*Parallax*/
.parallax{
	 height: 660px;
	 
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

}

/*hover effects*/
.item-wrap {
  margin-bottom: 10px; }

figure {
  position: relative;
  overflow: hidden;
  text-align: center; }
  figure img {
    position: relative;
    opacity: 1.0; }
  figure figcaption {
    padding: 1.0em;
    color: #fff;
    text-transform: uppercase;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden; 
}
    figure figcaption > .fig-description a {
      z-index: 1000;
      text-indent: 200%;
      white-space: nowrap;
      font-size: 0; 
  }
  
  figure figcaption,
  figure figcaption > a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
  figure h3 {
    word-spacing: -0.15em;
    font-family: "Montserrat", sans-serif; }
    figure h3 span {
      font-family: "Montserrat", sans-serif; }
  figure h3, figure p {
    margin: 0; }
  figure p {
    letter-spacing: 1px;
    font-size: 68.5%; }

figure.effect-goliath {
  background: black; }
  figure.effect-goliath .popup-call {
    position: absolute;
    top: 30px;
    right: 40px;
    z-index: 1001;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -webkit-transition: opacity 0.5s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out;
    -ms-transition: opacity 0.5s ease-in-out; }
    figure.effect-goliath .popup-call a:hover, figure.effect-goliath .popup-call a:focus {
      text-decoration: none; }
    figure.effect-goliath .popup-call a i {
      color: #fff;
      transition: color 0.5s ease-in-out;
      -moz-transition: color 0.5s ease-in-out;
      -webkit-transition: color 0.5s ease-in-out;
      -o-transition: color 0.5s ease-in-out;
      -ms-transition: color 0.5s ease-in-out; }
      figure.effect-goliath .popup-call a i::before {
        font-size: 40px;
        margin-left: 2px; }
      figure.effect-goliath .popup-call a i:hover {
        color: #202020; }
  figure.effect-goliath figcaption {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 110%;
    text-align: left;
    font-size: 12px; }
    figure.effect-goliath figcaption .fig-description {
      position: absolute;
      left: 40px;
      right: 40px;
      bottom: 30px; }
    figure.effect-goliath figcaption a {
      color: #fff;
      font-size: 11px;
      line-height: 20px; }
    figure.effect-goliath figcaption span {
      position: relative;
      margin-right: 2px; }
  figure.effect-goliath img, figure.effect-goliath h3 {
    -webkit-transition: -webkit-transform 3.5s;
    transition: transform 3.5s; }
  figure.effect-goliath img {
    max-width: none;
    width: -webkit-calc(100% + 0px);
    width: calc(100% + 0px);
    opacity: 1;
    -webkit-transition: opacity 0.5s, -webkit-transform 5.5s;
    transition: opacity 0.5s, transform 5.5s;
    -webkit-transform: translate3d(0px, 0, 0) scale(1.12);
    transform: translate3d(0px, 0, 0) scale(1.12);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden; }
  figure.effect-goliath h3 {
    font-family: "Montserrat", sans-serif;
    color: #fff;
    text-transform: uppercase;
    font-size: 21px;
    opacity: 0;
    -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: opacity 0.5s, transform 0.5s;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
    figure.effect-goliath h3:before {
      position: absolute;
      content: " ";
      bottom: -5px;
      width: 0;
      border-bottom: 1px dotted #eaeaea;
      -webkit-transition: all 0.6s;
      -moz-transition: all 0.6s;
      transition: all 0.6s;
      transition-delay: 0.3s; }
  figure.effect-goliath p {
    margin-top: 7px;
    color: #fff;
    text-transform: none;
    font-family: "Oxygen", sans-serif;
    font-size: 13px;
    opacity: 0;
    -webkit-transition: opacity 0.5s, -webkit-transform 0.35s;
    transition: opacity 0.5s, transform 0.5s;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  figure.effect-goliath:hover .popup-call {
    opacity: 1; }
  figure.effect-goliath:hover img {
    opacity: 0.1;
    -webkit-transform: translate3d(0, 0, 0) scale(1);
    transform: translate3d(0, 0, 0) scale(1); }
  figure.effect-goliath:hover h3 {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
    figure.effect-goliath:hover h3:before {
      width: 100%;
      -webkit-transition: all 0.6s;
      -moz-transition: all 0.6s;
      transition: all 0.6s; }
  figure.effect-goliath:hover p {
    width: 100%;
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
	.defaultHeight{
		height: 90%;
	}
.captions:hover img {
  opacity: 0.7 !important; }


@media only screen and (max-width: 1000px) {
	.events_bg{
		background-color: black;
		background-image: none;
	}
	.box{
		min-height: 40vh;
	}
	
}
@media only screen and (max-width: 500px) {
	.extraPad{
		margin: 0px;
	}
	.effect-goliath{
		width: auto;
		height: auto;
	}
	.extraPad .item-wrap{
		margin: auto;
	}
		.events_bg{
		background-color: black;
		background-image: url('../images/mob-sil.png');
	}
	.left-section,.right-section{
	font-size: 14px;
	}
	.right-section{
		border-left: 2px solid rgba(255,255,255,0.6);	
		padding-left: 10px;
	}
	a.none.left-details{
		font-size: 18px;
		padding-right: 10px;
	}
	.box{
		min-height: 80vh;
	}
}
